rules_version = '2';

// Craft rules based on data in your Firestore database
// allow write: if firestore.get(
//    /databases/(default)/documents/users/$(request.auth.uid)).data.isAdmin;
service firebase.storage {
  match /b/{bucket}/o {
    match /campaigns/{campaignId}/{allPaths=**} {
      // クライアントの所有者のみが、自分のバケット内にアップロードできる
      allow write: if firestore.get(
        /databases/(default)/documents/campaigns/$(campaignId)
      ).data.ownerId == request.auth.uid;

      // 読み取りは全員可能（公開用バケットとして利用する場合）
      allow read: if true;
    }
  }
}
